# Weather
WEATHER_API_ENDPOINT=https://archive-api.open-meteo.com/v1/archive

# Transport
TRANSPORT_API_ENDPOINT=http://transport.opendata.ch/v1

# GTFS-RT
GTFS_RT_API_TOKEN=<YOUR-GTFS-API-TOKEN>
GTFS_RT_API_ENDPOINT=https://api.opentransportdata.swiss/la/gtfs-rt

# Municipality
MUNICIPALITY_XLSX=https://www.agvchapp.bfs.admin.ch/de/state/results/xls?SnapshotDate=01.01.2026

# Storage
S3_BUCKET=<YOUR-DATA-LAKE-BUCKET>
